<jbr-money-list-mode [mode]="getModeValue(0)" (select)="newModeSelected($event)"></jbr-money-list-mode>
<jbr-money-list-mode [mode]="getModeValue(1)" (select)="newModeSelected($event)"></jbr-money-list-mode>
<jbr-money-list-mode [mode]="getModeValue(2)" (select)="newModeSelected($event)"></jbr-money-list-mode>
<jbr-money-list-mode [mode]="getModeValue(3)" (select)="newModeSelected($event)"></jbr-money-list-mode>
<jbr-money-list-mode [mode]="getModeValue(4)" (select)="newModeSelected($event)"></jbr-money-list-mode>

