<div class="row row-no-margin">
    <div class="row row-no-margin" *ngFor="let row of flags">
        <div class="col-4 btn-no-margin" *ngFor="let col of row">
            <div class="btn-padding">
                <button [ngClass]="col.selected ? 'btn btn-success btn-flag' : 'btn btn-outline-primary btn-flag'"
                       (click)="clickFlag(col)">
                    {{col.display}}
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row row-statement-age" *ngIf="isLockedEnabled()">
    <label class="col-11 statement-age-label">Statement Age</label>
    <input type="number" class="col-1 statement-age statement-age-input" min="0" max="36" step="1" [(ngModel)]="statementAge" (ngModelChange)="ageChange()" required>
</div>
