<div class="row row-no-margin">
    <div class="col-2 btn-no-margin" *ngFor="let col of years">
        <div class="btn-padding">
            <button [ngClass]="col.selected ? 'btn btn-success btn-action': 'btn btn-outline-primary btn-action'"
                   (click)="clickYear(col)">
                {{col.display}}
            </button>
        </div>
    </div>
</div>
<div class="row row-no-margin" *ngFor="let row of months">
    <div class="col-2 btn-no-margin" *ngFor="let col of row">
        <div class="btn-padding">
            <button [ngClass]="col.selected ? 'btn btn-success btn-statement': 'btn btn-outline-primary btn-statement'"
                   (click)="clickMonth(col)">
                {{col.display}}
            </button>
        </div>
    </div>
</div>
<div class="row row-no-margin">
    <div class="col-10 btn-no-margin">
    </div>
    <div class="col-2 btn-no-margin">
        <div class="btn-padding">
            <button class="btn btn-primary btn-statement"
                   (click)="blank()">
                No Statement
            </button>
        </div>
    </div>
</div>
