.btn-flag {
    width: 100%;
    margin-bottom: .125rem;
    font-size: 12px;
}

.row-no-margin {
    margin: 0;
}

.btn-no-margin {
    padding: 0;
    margin: 0;
}

.btn-padding {
    padding: 3px;
}

.row-statement-age {
    color: #0d6efd;
    margin: 5px 14px 0 0;
}

.statement-age-label {
    color: #0d6efd;
    padding: 1px 6px 0 0;
    text-align: right;
    font-size: 14px;
}

.statement-age-input {
    color: #0d6efd;
    border-color: #0d6efd;
    padding: 0 0 0 2px;
    height: 22px;
    font-size: 14px;
}
