.name {
    font-weight: bold;
    font-size: 18px;
    padding-left: 10px;
}

.action {
    color: #e07070;
    padding-left: 10px;
}

.date {
    padding-left: 4px;
}

.size {
    padding-left: 4px;
}

.no-margin-row {
    margin: 0;
}

.no-padding-col {
    padding: 0;
}
