.light-row {
    margin: 0;
}

.light {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    padding: 0;
}

.red-light {
    background: red;
}

.amber-light {
    background: gold;
}

.green-light {
    background: green;
}

.unknown-light {
    background: grey;
}

.indicator {
    padding-top: 2px;
    flex: 0 1 0;
}
