<div class="card">
    <div class="card-body">
        <div class="row" *ngIf="podcasts && podcasts.length">
            <div class="col" *ngFor="let podcast of podcasts">
                <label class="btn btn-primary btn-podcast"
                       [(ngModel)]="selectedPodcast"
                       (click)="onClickPodcast(podcast.id)"
                       btnRadio="{{podcast.id}}"
                       tabindex="0"
                       [style.background-color]="getImageButtonColour(podcast.id)">
                    <img width="60px" height="60px" [src]="getImage(podcast.id)" alt="{{podcast.name}}"/>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table" *ngIf="episodes && episodes.length">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let nextEpisode of episodes">
                            <td class="col-10">{{nextEpisode.title}}</td>
                            <td class="col-1">
                                <button type="button" class="btn btn-primary btn-delete" (click)="onClickDelete(nextEpisode.id)">
                                    <em class="fa fa-trash"></em>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
