<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col refresh" title="Refresh the list of files displayed here.">
                <button class="btn btn-primary"
                       (click)="refresh()">
                    <em class="fa fa-refresh"></em>
                </button>
            </div>
            <div class="col status">{{status}}</div>
        </div>
        <div class="row second-row">
            <div class="col refresh" title="Remove any files that are already marked as ignore.">
                <button class="btn btn-outline-warning"
                       aria-controls="list"
                       (click)="removeIgnored()">
                    <em class="fa fa-minus-circle"></em>
                </button>
            </div>
            <div class="col global-action" title="Remove any files that are definitely already present.">
                <button class="btn btn-outline-warning"
                       (click)="removeConfirmedImports()">
                    <em class="fa fa-trash"></em>
                </button>
            </div>
            <div class="col global-action" title="Remove any files are Apple 'active' photos.">
                <button class="btn btn-outline-warning"
                       (click)="removeActivePhotos()">
                    <em class="fa fa-apple"></em>
                </button>
            </div>
            <div class="no-pad col global-action" title="Import the files">
                <button class="btn btn-outline-warning"
                       (click)="importFiles()">
                    <em class="fa fa-arrow-right"></em>
                </button>
            </div>
            <div class="no-pad col first-page" title="Set the display limit to 10 files.">
                <button class="btn btn-outline-primary"
                       (click)="setPageSize(10)">
                    10
                </button>
            </div>
            <div class="no-pad col global-action" title="Set the display limit to 20 files.">
                <button class="btn btn-outline-primary"
                       (click)="setPageSize(20)">
                    20
                </button>
            </div>
            <div class="no-pad col global-action" title="Set the display limit to 50 files.">
                <button class="btn btn-outline-primary"
                       (click)="setPageSize(50)">
                    50
                </button>
            </div>
            <div class="no-pad col global-action" title="Set the display limit to 100 files.">
                <button class="btn btn-outline-primary"
                       (click)="setPageSize(100)">
                    100
                </button>
            </div>
            <div class="no-pad col global-action" title="Set the display limit to All files.">
                <button class="btn btn-outline-primary"
                       (click)="setPageSize(0)">
                    All
                </button>
            </div>
            <div class="no-pad col global-action">
                <button [class]="previousPageClass()"
                       title="Move to the previous page."
                       (click)="previousPage()">
                    <em class="fa fa-arrow-left"></em>
                </button>
            </div>
            <div class="no-pad col global-action">
                <button [class]="nextPageClass()"
                       title="Move to the next page."
                       (click)="nextPage()">
                    <em class="fa fa-arrow-right"></em>
                </button>
            </div>
        </div>
    </div>
    <div class="col-6">
        <table>
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <ng-container *ngFor="let step of getSteps()">
                        <th>{{getColumnHeaderText(step)}}</th>
                    </ng-container>
                    <th>Pre Import</th>
                    <th>Import</th>
                    <th>Post Import</th>
                    <th>Queued</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let status of getStatus()">
                    <tr *ngIf="displayStatus(status)">
                        <td class="header">{{getHeaderText(status)}}</td>
                        <ng-container *ngFor="let step of getSteps()">
                            <td [class]="getClass(step,status)" (click)="filter(step,status)">{{getTotal(step,status)}}</td>
                        </ng-container>
                        <td>{{getPreImportTotal(status)}}</td>
                        <td>{{getImportTotal(status)}}</td>
                        <td>{{getPostImportTotal(status)}}</td>
                        <td>{{getQueued(status)}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>
