<div *ngIf="file.error == null || file.error == ''">
    <div class="row">
        <div class="col-1 col-account-img" *ngIf="file.account != null" (click)="loadFile(file.filename,file.account)">
            <img class="account-img" src="{{getAccountImage(file.account.id)}}" alt="Account"/>
        </div>
        <div class="col-8 filename" (click)="loadFile(file.filename,file.account)">
            <a>{{file.filename}}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 info">
            <a>{{file.transactionCount}} transactions, from {{file.earliestTransaction}} to {{file.latestTransaction}}; credits {{file.creditSum.toFixed(2)}}; debits {{file.debitSum.toFixed(2)}}</a>
        </div>
    </div>
</div>
<div *ngIf="file.error != null && file.error != '' ">
    <div class="row">
        <div class="col-8 error filename">
            <a>{{file.filename}}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 error error-info">
            <a>{{file.error}}</a>
        </div>
    </div>
</div>
