<div class="file-row" *ngIf="!file.error" (click)="loadFile(file)" (keydown.enter)="loadFile(file)" tabindex="0">
    <img *ngIf="file.account" class="file-account-img" [src]="getAccountImage(file.account.id)" alt="Account"/>
    <div class="file-info">
        <div class="file-name">{{file.filename}}</div>
        <div class="file-meta">
            {{file.transactionCount}} transactions &nbsp;·&nbsp;
            {{file.earliestTransaction}} → {{file.latestTransaction}} &nbsp;·&nbsp;
            CR: {{file.creditSum.toFixed(2)}} &nbsp; DB: {{file.debitSum.toFixed(2)}}
        </div>
    </div>
</div>

<div class="file-row-error" *ngIf="file.error">
    <div class="file-info">
        <div class="file-error-name">{{file.filename}}</div>
        <div class="file-error-msg">{{file.error}}</div>
    </div>
</div>
