.page-row {
    margin: 30px 0 0 0;
}

.list-container {
    overflow: auto;
    height: 600px;
}

.left-column {
    padding-left: 0;
}

.directory-title {
    font-weight: bold;
    padding-left: 0;
}

.directory-edit {
    margin-bottom: 4px;
}

.btn-row {
    margin-top: 4px;
    width: 100%;
    text-align: center;
}
