<div class="row page-row">
    <div class="col-6 left-column">
        <div class="col left-column">
            <div class="row">
                <div class="col-3 directory-title">Pre Import</div>
                <input class="col-9 directory-edit"
                       id="pre-import-edit"
                       type="text"
                       name="pre-import"
                       [readOnly]="true"
                       [(ngModel)]="preImportDirectory"/>
            </div>
        </div>
        <div class="col left-column">
            <div class="row">
                <div class="col-3 directory-title">Import</div>
                <input class="col-9 directory-edit"
                       id="import-edit"
                       type="text"
                       name="import"
                       [readOnly]="true"
                       [(ngModel)]="importDirectory"/>
            </div>
        </div>
        <div class="col left-column">
            <div class="row">
                <div class="col-3 directory-title">Destination</div>
                <input class="col-9 directory-edit"
                       id="destination-edit"
                       type="text"
                       name="destination"
                       [readOnly]="true"
                       [(ngModel)]="destinationDirectory"/>
            </div>
        </div>
        <div class="col left-column">
            <div class="row">
                <div class="col-3 directory-title"></div>
                <div class="col-9 directory-edit">
                    <div class="row">
                        <div class="col-4">
                            <label class="btn-primary btn-row">Convert</label>
                        </div>
                        <div class="col-4">
                            <label class="btn-primary btn-row">Import</label>
                        </div>
                        <div class="col-4">
                            <label class="btn-primary btn-row">Process</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col left-column" *ngIf="isItemSelected">
            <div *ngIf="actions[selectedIndex].fileName != null">
                <div *ngIf="actions[selectedIndex].isImage">
                    <img src="{{imageUrl(actions[selectedIndex].fileId)}}" width="100%" height="280" alt="backup file"/>
                </div>
                <div *ngIf="actions[selectedIndex].isVideo">
                    <video src="{{videoUrl(actions[selectedIndex].fileId)}}" width="100%" height="280" controls></video>
                </div>
            </div>
        </div>
        <div class="col left-column" *ngIf="isItemSelected">
            <div class="row">
                <div class="col-3 directory-title">Name</div>
                <input class="col-9 directory-edit"
                       id="selected-filename"
                       type="text"
                       name="destination"
                       [readOnly]="true"
                       [(ngModel)]="actions[selectedIndex].fileName"/>
            </div>
            <div class="row">
                <div class="col-3 directory-title">Size</div>
                <input class="col-9 directory-edit"
                       id="selected-file-size"
                       type="text"
                       name="destination"
                       [readOnly]="true"
                       [(ngModel)]="actions[selectedIndex].fileSize"/>
            </div>
            <div class="row">
                <div class="col-3 directory-title">Date</div>
                <input class="col-9 directory-edit"
                       id="selected-file-date"
                       type="text"
                       name="destination"
                       [readOnly]="true"
                       [(ngModel)]="actions[selectedIndex].fileDate"/>
            </div>
        </div>
        <div class="col left-column" *ngIf="isItemSelected">

        </div>
    </div>
    <div class="col-6 right-column" *ngIf="isItemSelected">
        <div class="row no-margin">
            <input class="category-input"
                   id="category"
                   type="text"
                   name="category"
                   [readOnly]="false"
                   [(ngModel)]="category">
        </div>
        <div class="col action-list">
            <div class="row no-margin" *ngFor="let nextAction of actions">
                <label class="btn-primary btn-select" (click)="selectAction(nextAction.id)">*</label>
                <div class="col">{{nextAction.fileName}}</div>
                <div class="col">{{nextAction.parameter}}</div>
                <label class=" btn-primary btn-ignore" (click)="ignore(nextAction.id)">I</label>
                <label class=" btn-primary btn-recipe" (click)="moveToRecipe(nextAction.id)">R</label>
                <label class=" btn-primary btn-import" (click)="import(nextAction.id,category)">H</label>
            </div>
        </div>
    </div>
</div>
