<table>
    <thead>
        <tr>
            <th>Filename</th>
            <th>Date</th>
            <th>Size</th>
            <th>MD5</th>
        </tr>
    </thead>
    <tbody *ngIf="similar && similar.length">
        <tr *ngFor="let file of similar">
            <td>{{file.filename}}</td>
            <td [class]="getDateClass(file)">{{file.date.replace("T"," ")}}</td>
            <td [class]="getSizeClass(file)">{{getSizeString(file)}}</td>
            <td [class]="getMd5Class(file)">{{file.md5}}</td>
        </tr>
    </tbody>
</table>
