@import "../../../standard/standard-table.css";

table {
    width: 70%;
}

.mismatch {
    background: #4a1a1a;
}

.date-parent {
    width: 100%;
    height: 100%;
    margin: 0;
}

.date-child {
    float: right;
    padding: 0;
}

.md5 {
    font-family: courier new, serif;
}

/*
 * first     - 46    Filename
 * nth  2    - 16    Date
 * nth  3    -  8    Size
 * nth  4    - 30    MD5
 */

table td:first-child  { width: 46%; }
table td:nth-child(2) { width: 16%; }
table td:nth-child(3) { width: 8%; }
table td:nth-child(4) { width: 30%; }
