td {
    font-family: Helvetica, serif;
    font-size: 10px;
    border: 1px solid dimgrey;
    text-align: center;
}

td.unknown {
    background: grey;
}

td.red {
    background: red;
}

td.amber {
    background: gold;
}

td.green {
    background: green;
}

.title {
    font-family: Helvetica, serif;
    font-size: 10px;
    font-weight: bold;
}

.data {
    font-family: Helvetica, serif;
    font-size: 10px;
}

.md5 {
    font-family: courier new, serif;
}

.btn-row {
    margin-top: 2px;
}

.action-btn-first {
    padding: 0 0 2px 12px;
    flex: 0 1 0;
}

.action-btn {
    padding: 0 0 2px 5px;
    flex: 0 1 0;
}

.directory-frame {
    border-radius: 5px;
    border: solid 1px #198754;
    margin: 0 25px 2px 5px;
    padding: 0;
}

.directory {
    color: #198754;
    margin: 3px 2px 3px 5px;
}

table td:first-child {
    width: 7%;
}

table td:nth-child(2) {
    width: 7%;
}

table td:nth-child(3) {
    width: 7%;
}

table td:nth-child(4) {
    width: 7%;
}

table td:nth-child(5) {
    width: 7%;
}

table td:nth-child(6) {
    width: 7%;
}

table td:nth-child(7) {
    width: 7%;
}

table td:nth-child(8) {
    width: 7%;
}

table td:nth-child(9) {
    width: 7%;
}

table td:nth-child(10) {
    width: 7%;
}

table td:nth-child(11) {
    width: 7%;
}

table td:nth-child(12) {
    width: 7%;
}

table td:nth-child(13) {
    width: 7%;
}

table td:nth-child(14) {
    width: 7%;
}
