<div class="row transaction-table">
    <table>
        <thead>
            <tr>
                <th [class]="headerFiltered(HeaderType.Date) ? 'filtered' : ''">
                    <p>Date <em *ngIf="headerFiltered(HeaderType.Date)" class="fa fa-filter filter-icon" [title]="filterTooltip(HeaderType.Date)"></em></p>
                </th>
                <th [class]="headerFiltered(HeaderType.Account) ? 'filtered' : ''">
                    <p>Acc. <em *ngIf="headerFiltered(HeaderType.Account)" class="fa fa-filter filter-icon" [title]="filterTooltip(HeaderType.Account)"></em></p>
                </th>
                <th [class]="headerFiltered(HeaderType.StatementDate) ? 'filtered' : ''">
                    <p>Statement <em *ngIf="headerFiltered(HeaderType.StatementDate)" class="fa fa-filter filter-icon" [title]="filterTooltip(HeaderType.StatementDate)"></em></p>
                </th>
                <th [class]="headerFiltered(HeaderType.Locked) ? 'filtered' : ''">
                    <p>Lck. <em *ngIf="headerFiltered(HeaderType.Locked)" class="fa fa-filter filter-icon" [title]="filterTooltip(HeaderType.Locked)"></em></p>
                </th>
                <th [class]="headerFiltered(HeaderType.Predicted) ? 'filtered' : ''">
                    <p>Prd. <em *ngIf="headerFiltered(HeaderType.Predicted)" class="fa fa-filter filter-icon" [title]="filterTooltip(HeaderType.Predicted)"></em></p>
                </th>
                <th [class]="headerFiltered(HeaderType.Reconciliation) ? 'filtered' : ''">
                    <p>Rec. <em *ngIf="headerFiltered(HeaderType.Reconciliation)" class="fa fa-filter filter-icon" [title]="filterTooltip(HeaderType.Reconciliation)"></em></p>
                </th>
                <th [class]="headerFiltered(HeaderType.Category) ? 'filtered' : ''">
                    <p>Category <em *ngIf="headerFiltered(HeaderType.Category)" class="fa fa-filter filter-icon" [title]="filterTooltip(HeaderType.Category)"></em></p>
                </th>
                <th [class]="headerFiltered(HeaderType.Description) ? 'filtered' : ''">
                    <p>Description <em *ngIf="headerFiltered(HeaderType.Description)" class="fa fa-filter filter-icon" [title]="filterTooltip(HeaderType.Description)"></em></p>
                </th>
                <th [class]="headerFiltered(HeaderType.Credit) ? 'filtered' : ''">
                    <p>Credits <em *ngIf="headerFiltered(HeaderType.Credit)" class="fa fa-filter filter-icon" [title]="filterTooltip(HeaderType.Credit)"></em></p>
                </th>
                <th [class]="headerFiltered(HeaderType.Debit) ? 'filtered' : ''">
                    <p>Debits <em *ngIf="headerFiltered(HeaderType.Debit)" class="fa fa-filter filter-icon" [title]="filterTooltip(HeaderType.Debit)"></em></p>
                </th>
                <th>
                    <p>Balance</p>
                </th>
                <th class="del-col"></th>
            </tr>
        </thead>
        <tbody *ngIf="data && data && data.length">
            <tr *ngFor="let transaction of data" [class.row-pending]="transaction.modified">
                <td>
                    <jbr-grid-data-date [transaction]="transaction" (valueChanged)="valueChanged($event)"></jbr-grid-data-date>
                </td>
                <td class="account">
                    <jbr-grid-data-account [transaction]="transaction" (valueChanged)="valueChanged($event)"></jbr-grid-data-account>
                </td>
                <td>
                    <jbr-grid-data-statement-date [transaction]="transaction" (statementLock)="lockStatement($event)" (performAction)="performAction($event)"></jbr-grid-data-statement-date>
                </td>
                <td class="flag">
                    <jbr-grid-data-statement [transaction]="transaction"></jbr-grid-data-statement>
                </td>
                <td class="flag">
                    <jbr-grid-data-predicted [transaction]="transaction"></jbr-grid-data-predicted>
                </td>
                <td class="flag">
                    <jbr-grid-data-from-reconciliation [transaction]="transaction" (clearFileEmitter)="clearRecData()" (selectFileEmitter)="selectRecData($event)"></jbr-grid-data-from-reconciliation>
                </td>
                <td>
                    <jbr-grid-data-category [transaction]="transaction" (valueChanged)="valueChanged($event)"></jbr-grid-data-category>
                </td>
                <td>
                    <jbr-grid-data-description (edit)="onEdit()" [transaction]="transaction" (valueChanged)="valueChanged($event)"></jbr-grid-data-description>
                </td>
                <td>
                    <jbr-grid-data-amount [transaction]="transaction" [type]="'CR'" (valueChanged)="valueChanged($event)"></jbr-grid-data-amount>
                </td>
                <td>
                    <jbr-grid-data-amount [transaction]="transaction" [type]="'DB'" (valueChanged)="valueChanged($event)"></jbr-grid-data-amount>
                </td>
                <td>
                    <jbr-grid-data-balance [transaction]="transaction"></jbr-grid-data-balance>
                </td>
                <td class="del-col">
                    <button *ngIf="transaction.actionDelete"
                            class="btn btn-sm btn-danger del-btn"
                            title="Delete transaction"
                            (click)="onDeleteClick(transaction)">
                        <em class="fa fa-trash"></em>
                    </button>
                </td>
            </tr>
    </table>
</div>
