<div class="row row-no-margin-or-pad">
    <div class="row row-no-margin-or-pad" *ngIf="filterMode">
        <div class="col-3 btn-no-margin">
            <div class="btn-action">
                <label class="btn btn-outline-info btn-account"
                       tabindex="0"
                       (click)="selectAll()">
                    <em class="fa fa-check-circle"></em>
                    Select All
                </label>
            </div>
        </div>
        <div class="col-9 btn-no-margin">
        </div>
    </div>
    <div class="row row-no-margin-or-pad" *ngFor="let row of accounts">
        <div class="col-3 btn-no-margin" *ngFor="let col of row">
            <div class="btn-padding">
                <label [ngClass]="isAccountSelected(col) ? 'btn btn-success btn-action': 'btn btn-outline-primary btn-action'"
                       tabindex="0"
                       (click)="clickAccount(col)">
                    <img class="account-img" ngSrc="{{getAccountImage(col)}}" alt="Account" width="15px" height="15px"/>
                    {{col.display}}
                </label>
            </div>
        </div>
    </div>
</div>
