<div class="row row-gap">
    <label class="btn btn-primary">
        <em class="fa fa-close" (click)="clearPrints()"></em>
    </label>
</div>
<div *ngFor="let row of rows" class="row row-gap">
    <div *ngFor="let col of cols" class="col-4">
        <jbr-backup-print-image
                [selectedPrint]="getPrintAtRowCol(row,col)"
                (unselect)="unselectPrint($event)"
                (updateSize)="updatePrintSize($event,sizePicker)">
        </jbr-backup-print-image>
    </div>
</div>

<ng-template #sizePicker>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Choose Print Size and Style</h4>
    </div>
    <div class="body">
        <jbr-backup-print-size-selector
                [selectedPrint]=sizePhoto
                (sizeChange)="onSizeChange($event)"></jbr-backup-print-size-selector>
    </div>
</ng-template>
