.photo-thumbnail {
    width: 100%;
    height: auto;
}

.row-gap {
    margin-bottom: 5px;
}

.btn-unselect {
    position: absolute;
    top: 2px;
    left: 2px;
    padding: 0;
    border: 0;
}

.size-information {
    background-color: white;
    position: absolute;
    bottom: 2px;
    right: 2px;
    padding: 0;
    border: 0;
}

.outer-image {
    position: relative;
    display: inline-block;
}

.col-border {
    margin: 10px;
}

.row-option {
    margin-bottom: 10px;
}

.btn-left {
    border-right: 5px;
}

.btn-right {
    padding-left: 5px;
}
