<div class="col col-border">
    <div class="row g-0 row-option ">
        <label class="col-4 label-title"><a>Image</a></label>
        <label class="col-8"><a>{{selectedPrint.fileName}}</a></label>
    </div>
    <div class="row g-0 row-option">
        <label class="col-4 label-title"><a>Size</a></label>
        <select #sizeOpt class="col-8" (change)="changeSize(sizeOpt.value)">
            <option *ngFor="let size of sizes" [selected]="isSelected(size.name)">{{size.name}}</option>
        </select>
    </div>
    <div class="row g-0 row-option">
        <label class="col-4 label-title"><a>Black & White</a></label>
        <input [(ngModel)]="blackAndWhite" class="col-8" type="checkbox"/>
    </div>
    <div class="row g-0 row-option">
        <label class="col-4 label-title"><a>Border</a></label>
        <input [(ngModel)]="border" class="col-8" type="checkbox"/>
    </div>
    <div class="row g-0">
        <label class="btn btn-primary col-5 btn-left" (click)="selectSizeAndStyle()">
            <em class="fa fa-check"></em>
        </label>
        <div class="col-2"></div>
        <label class="btn btn-primary col-5 btn-right" (click)="close()">
            <em class="fa fa-close"></em>
        </label>
    </div>
</div>
