<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="col">
                    <label *ngFor="let date of availableDates"
                           [ngClass]="{'btn': true, 'btn-primary': true, 'btn-date': true, 'btn-selected': date.selected }"
                           (click)="onClickDate(date.logDate)">{{date.logDateString}}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-1" *ngIf="types && types.length">
                <label *ngFor="let type of types"
                       [ngClass]="{'btn': true, 'btn-primary': true, 'btn-logtype': true, 'btn-selected': type.selected }"
                       (click)="onClickType(type.type.id)"
                       tooltip="{{type.type.name}}">
                    <em class="fa {{type.type.icon}}"></em>
                </label>
            </div>
            <div class="col-10 log-no-padding">
                <div class="row" *ngFor="let nextData of data">
                    <div class="col-1 log-line-col log-line-date">{{nextData.time}}</div>
                    <div class="col-1 log-line-col"><span [ngClass]="{
                                    'badge':true,
                                    'badge-info':nextData.levelString==='INFO',
                                    'badge-warning':nextData.levelString==='WARN',
                                    'badge-danger':nextData.levelString==='ERROR' || nextData.levelString==='FATAL',
                                    'badge-primary':nextData.levelString==='DEBUG' || nextData.levelString==='TRACE'
                                    }">{{nextData.levelString}}</span></div>
                    <div class="col-10 log-line-col log-no-padding">{{nextData.formattedMessage}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
