.btn-logtype {
    width: 100%;
}

.btn-date {
    margin: 0 2px 0.5rem 2px;
}

.btn-selected {
    font-weight: bold;
    color: black;
}

.log-line-row {
    padding: 0 2px;
}

.log-row {
    font-family: monospace;
}

.log-line-date {
    width: 9%;
}

.log-line-badge {
    width: 6%;
}

.log-line-text {
    width: 85%;
}
