.btn-logtype {
    width: 100%;
}

.btn-date {
    margin: 0 2px 0.5rem 2px;
}

.btn-selected {
    font-weight: bold;
    color: black;
}

.log-no-padding {
    padding: 0;
}

.log-line-col {
    font-family: monospace;
    font-size: 10px;
}

.log-line-date {
    padding: 0 0 0 6px;
}
