<p (click)="openModal(templateStatementDate)">{{header}}</p>

<ng-template #templateStatementDate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Select Statement Date</h4>
    </div>
    <div class="body">
        <div class="row row-no-margin">
            <div class="col-2 btn-no-margin" *ngFor="let col of years">
                <div class="btn-padding">
                    <label class="btn btn-primary btn-statement"
                           tabindex="0"
                           (click)="clickYear(col)">
                        {{col.display}}
                        <em *ngIf="col.selected" class="fa fa-check-circle"></em>
                    </label>
                </div>
            </div>
        </div>
        <div class="row row-no-margin" *ngIf="yearSelected()">
            <div class="col-2 btn-no-margin" *ngFor="let col of months1">
                <div class="btn-padding">
                    <label class="btn btn-primary btn-statement"
                           tabindex="0"
                           (click)="clickMonth(col)">
                        {{col.display}}
                    </label>
                </div>
            </div>
        </div>
        <div class="row row-no-margin" *ngIf="yearSelected()">
            <div class="col-2 btn-no-margin" *ngFor="let col of months2">
                <div class="btn-padding">
                    <label class="btn btn-primary btn-statement"
                           tabindex="0"
                           (click)="clickMonth(col)">
                        {{col.display}}
                    </label>
                </div>
            </div>
        </div>
        <div class="row row-no-margin">
            <div class="col-2 btn-no-margin">
                <div class="btn-padding">
                    <label class="btn btn-primary btn-statement"
                           tabindex="0"
                           (click)="blank()">
                        (none)
                    </label>
                </div>
            </div>
            <div class="col-8 btn-no-margin">
            </div>
            <div class="col-2 btn-no-margin">
                <div class="btn-padding">
                    <label class="btn btn-primary btn-statement"
                           tabindex="0"
                           (click)="clear()">
                        (clear)
                    </label>
                </div>
            </div>
        </div>
    </div>
</ng-template>
