p {
    padding: 0;
    margin: 0;
    font-family: Helvetica, serif;
    font-size: 10px;
}

.title {
    font-family: Helvetica, serif;
    font-size: 14px;
    font-weight: bold;
}

.modal-sm {
    width: 300px;
}

.account-img {
    padding: 0;
    margin: 0;
    width: 30px;
}

.col-account {
    padding-left: 3px;
    padding-right: 0;
}

.account-row {
    margin: 0;
    vertical-align: middle;
}

.col-centre {
    text-align: center;
}

.name {
    padding-top: 6px;
    padding-left: 10px;
}

.button-row {
    margin: 0;
}

.btn-parent {
    padding: 0;
}

.btn-exit-div {
    padding: 0 0 4px 2px;
}

.btn-exit {
    padding: 0;
    width: 100%;
}

.btn-ok-div {
    padding: 0 2px 4px 2px;
}

.btn-ok {
    padding: 0;
    width: 100%;
}
