<p (click)="openModal(templateStatementDate)">{{header}}</p>

<ng-template #templateStatementDate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Select Statement Date</h4>
    </div>
    <div class="body">
        <div class="row row-no-margin">
            <div class="col-2 btn-no-margin" *ngFor="let col of years">
                <div class="btn-padding">
                    <label [ngClass]="col.selected ? 'btn btn-success btn-action': 'btn btn-outline-primary btn-action'"
                           tabindex="0"
                           (click)="clickYear(col)">
                        {{col.display}}
                    </label>
                </div>
            </div>
        </div>
        <div class="row row-no-margin" *ngFor="let row of months">
            <div class="col-2 btn-no-margin" *ngFor="let col of row">
                <div class="btn-padding">
                    <label [ngClass]="col.selected ? 'btn btn-success btn-statement': 'btn btn-outline-primary btn-statement'"
                           tabindex="0"
                           (click)="clickMonth(col)">
                        {{col.display}}
                    </label>
                </div>
            </div>
        </div>
        <div class="row row-no-margin">
            <div class="col-10 btn-no-margin">
            </div>
            <div class="col-2 btn-no-margin">
                <div class="btn-padding">
                    <label class="btn btn-primary btn-statement"
                           tabindex="0"
                           (click)="blank()">
                        No Statement
                    </label>
                </div>
            </div>
        </div>
        <div class="row row-no-margin">
            <div class="col-2 btn-no-margin">
                <div class="btn-action">
                    <label class="btn-action btn btn-primary" (click)="exit()">Exit</label>
                </div>
            </div>
            <div class="col-2 btn-no-margin">
                <div class="btn-action">
                    <label class="btn-action btn btn-primary" (click)="clear()">Clear</label>
                </div>
            </div>
            <div class="col-6 btn-no-margin"></div>
            <div class="col-2 btn-no-margin">
                <div class="btn-action">
                    <label class="btn-action btn btn-primary" (click)="selectStatement()">OK</label>
                </div>
            </div>
        </div>
    </div>
</ng-template>
