<p (click)="openModal(templateCategoryFilter)">{{header}}</p>

<ng-template #templateCategoryFilter>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Select Categories</h4>
    </div>
    <div class="body">
        <div class="row row-no-margin" *ngFor="let row of categories">
            <div class="col-3 btn-no-margin" *ngFor="let col of row">
                <div class="btn-padding">
                    <label class="btn btn-primary btn-category"
                           [style.background-color]="'#' + col.colour"
                           [style.color]="'#' + col.textColour"
                           tabindex="0"
                           (click)="clickCategory(col)">
                        <em *ngIf="col.selected" class="fa fa-check-circle"></em>
                        <em *ngIf="!col.selected" class="fa fa-times-circle"></em>
                        {{col.display}}
                    </label>
                </div>
            </div>
        </div>
        <div class="row row-no-margin">
            <div class="col-2 btn-no-margin">
                <div class="action-btn">
                    <label class="action-btn btn btn-primary" (click)="selectAll()">All</label>
                </div>
            </div>
            <div class="col-2 btn-no-margin">
                <div class="action-btn">
                    <label class="action-btn btn btn-primary" (click)="clear()">Clear</label>
                </div>
            </div>
            <div class="col-4 btn-no-margin"></div>
            <div class="col-2 btn-no-margin">
                <div class="action-btn">
                    <label class="action-btn btn btn-primary" (click)="exit()">Exit</label>
                </div>
            </div>
            <div class="col-2 btn-no-margin">
                <div class="action-btn">
                    <label class="action-btn btn btn-primary" (click)="selectAccounts()">OK</label>
                </div>
            </div>
        </div>
    </div>
</ng-template>
