.btn-directory {
    width: 100%;
    margin-top: 3px;
}

.btn-delete {
    background-color: red;
}

.delete-row {
    margin-top: 20px;
}

.list-container {
    overflow: auto;
    height: 600px;
}

.page-row {
    margin: 30px 0 0 0;
}
