<div class="row page-row">
    <div class="col-2 list-container">
        <div *ngIf="hierarchy && hierarchy.length">
            <div class="row" *ngFor="let nextHierarchy of hierarchy">
                <div class="col-12">
                    <div *ngIf="nextHierarchy.backup">
                        <label class="btn btn-primary btn-directory"
                               (click)="changeHierarchy(nextHierarchy)">
                            <em class="fa fa-chevron-circle-left"></em>
                        </label>
                    </div>
                    <div *ngIf="nextHierarchy.directory && !nextHierarchy.backup">
                        <label class="btn btn-primary btn-directory"
                               (click)="changeHierarchy(nextHierarchy)">
                            {{nextHierarchy.displayName}}
                        </label>
                    </div>
                    <div *ngIf="!nextHierarchy.directory && !nextHierarchy.backup">
                        <label class="btn btn-outline-primary btn-directory"
                               (click)="displayFile(nextHierarchy)">
                            {{nextHierarchy.displayName}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-10 detail-col">
        <div *ngIf="selectedFile != null">
            <div class="row">
                <em class="fa {{selectedFile.icon}} detail-name-icon"></em>
                <p id="selected-file-id" class="detail-name">{{selectedFile.name}}</p>
            </div>
            <div class="row detail-full-name-row">
                <p class="detail-full-name">{{selectedFile.fullFilename}}</p>
            </div>
            <div class="row detail-size-row"><p class="detail-size">{{selectedFile.size}}</p></div>
            <div class="row detail-date-row"><p class="detail-date">{{selectedFile.date}}</p></div>
            <div class="row detail-md5-row"><p class="detail-md5">[{{selectedFile.md5}}]</p></div>
            <div class="row detail-expiry-row" *ngIf="selectedFile.expiry != null"><p class="detail-expiry">Expiry: {{selectedFile.expiry}}</p></div>
            <div class="row detail-expiry-row" *ngIf="selectedFile.expiry == null"><p class="detail-expiry">Expiry: does not expire</p></div>
            <div class="row">
                <jbr-backup-display-backups></jbr-backup-display-backups>
            </div>
            <div *ngIf="selectedFile.image">
                <img src="{{imageUrl(selectedFile.id)}}" alt="Image File" width="420" (click)="selectPhotoMode()"/>
            </div>
            <div *ngIf="selectedFile.video">
                <video src="{{videoUrl(selectedFile.id)}}" width="420" controls></video>
            </div>
            <div>
                <div class="row delete-row">
                    <div class="col-1">
                        <label class="btn btn-primary btn-delete"
                               tabindex="1"
                               (click)="deleteFile()">
                            <em class="fa fa-trash"></em>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
