<div class="row page-row">
    <div class="col-2 list-container">
        <div *ngIf="hierarchy && hierarchy.length">
            <div class="row" *ngFor="let nextHierarchy of hierarchy">
                <div class="col-12">
                    <div *ngIf="nextHierarchy.backup">
                        <label class="btn btn-primary btn-directory"
                               (click)="changeHierarchy(nextHierarchy)">
                            <em class="fa fa-chevron-circle-left"></em>
                        </label>
                    </div>
                    <div *ngIf="nextHierarchy.directory && !nextHierarchy.backup">
                        <label class="btn btn-primary btn-directory"
                               (click)="changeHierarchy(nextHierarchy)">
                            {{nextHierarchy.displayName}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-10 detail-col">
        <div *ngIf="selectedFile != null">
            <jbr-backup-display-title
                    [selectedFile]="selectedFile"
                    (previousFile)="displayPrevious()"
                    (nextFile)="displayNext()"
                    (deleteFile)="deleteFile()"
                    (printFile)="selectPhotoMode()"
                    (refresh)="refreshData()"
                    (zoom)="$event ? zoomIn() : zoomOut()">
            </jbr-backup-display-title>
            <jbr-backup-display-media [selectedFile]="selectedFile" [mediaWidth]="zoom" (selectPhotoModeEvent)="selectPhotoMode()"></jbr-backup-display-media>
            <jbr-backup-display-metadata [selectedFile]="selectedFile"></jbr-backup-display-metadata>
            <jbr-backup-display-info [selectedFile]="selectedFile"></jbr-backup-display-info>
            <jbr-backup-display-labels [selectedFile]="selectedFile"></jbr-backup-display-labels>
            <jbr-backup-display-backups [selectedFile]="selectedFile"></jbr-backup-display-backups>
        </div>
    </div>
</div>
<div>
    <jbr-backup-display-files [selectedFile]="selectedFile" [fileList]="fileList" (selectEvent)="displayFile($event)"></jbr-backup-display-files>
</div>
