<div *ngIf="filterMode" class="row row-no-margin">
    <div class="col-3 btn-no-margin">
        <div class="btn-action">
            <button class="btn btn-outline-info btn-category"
                   (click)="onSelectAll()">
                <em class="fa fa-check-circle"></em>
                Select All
            </button>
        </div>
    </div>
</div>
<div class="row row-no-margin" *ngFor="let row of categories">
    <div class="col-3 btn-no-margin" *ngFor="let col of row">
        <div class="btn-padding">
            <button class="btn btn-primary btn-category"
                   [style.background-color]=backgroundColour(col)
                   [style.color]=textColour(col)
                   [style.border-color]=borderColor(col)
                   (click)="clickCategory(col)">
                {{categoryDisplay(col)}}
            </button>
        </div>
    </div>
</div>
<div class="row row-no-margin" *ngFor="let row of getAccounts()">
    <div class="col-3 btn-no-margin" *ngFor="let col of row">
        <div class="btn-padding">
            <button class="btn btn-primary btn-category"
                   [style.background-color]="'#FFFFFF'"
                   [style.color]="'#000000'"
                   [style.border-color]="'#0D6EFD'"
                   (click)="clickTransfer(col)">
                <img class="account-img" ngSrc="{{getAccountImage(col)}}" alt="Transfer Account" width="15px" height="15px"/>
                {{transferDisplay(col)}}
            </button>
        </div>
    </div>
</div>
