.cat-table-col {
    border-top: 0;
    padding: 1px;
}

.cat-btn {
    width: 100%;
    margin-bottom: .125rem;
    font-size: small;
}

.cat-trf-img {
    width: 20px;
    height: 20px;
}

.cat-opt-btn {
    width: 60px;
    margin: 2px;
    font-size: small;
}
