<svg viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
    <circle r="10" cx="11" cy="11" fill="white"></circle>
    <ng-container *ngFor="let nextCategory of categoryEntries">
        <circle r="5" cx="11" cy="11" fill="transparent"
                [attr.stroke]="nextCategory.colour"
                [attr.stroke-dasharray]="nextCategory.getStrokeDashArray()"
                stroke-width="10"
                transform="rotate(-90) translate(-22)"></circle>
    </ng-container>
    <circle r="10" cx="11" cy="11" stroke="black" stroke-width=".5" fill="transparent"></circle>
</svg>
