
/* Button used to select the type of transaction listed. */

.btn-type {
    width: 44px;
    height: 44px;
    margin-right: 2px;
    padding: 3px;
}

/* Button used to select the accounts. */

.btn-account {
    width: 44px;
    height: 44px;
    margin-right: 2px;
    padding: 3px;
}

.btn-account-img {
    width: 100%;
    height: 100%;
}

/* Button used select a date and the picker. */

.btn-date {
    font-size: 8px;
    width: 28px;
    height: 28px;
    margin-right: 2px;
    padding: 3px;
}

.filter-datepicker {
    font-size: 12px;
    padding: 0 0 0 2px;
    margin-bottom: 2px;
}



/* category selectors */

.btn-category {
    width: 20px;
    height: 20px;
    padding: 0;
}

.btn-category-off {
    width: 20px;
    height: 20px;
    padding: 0;
    border-width: 10px;
}

/* List */


.transaction-header {
    padding: 2px 2px
}

.transaction-row {
    padding: 4px 2px 2px 2px;
    vertical-align: middle;
    border-top: 0;
    border-bottom: 1px solid #dee2e6;
}

.transaction-row-total {
    padding: 4px 2px 2px 2px;
    vertical-align: middle;
    border-top: 0;
}

.transaction-col {
    padding: 2px 2px 2px 2px;
}

.transaction-col-total {
    padding: 0;
    border-top: 0;
}

/* Col 1 & 2 - Date */

.transaction-date-header {
    width: 7%;
}

.transaction-date-day {
    margin-bottom: 0;
    font-size: 32px;
    font-weight: bolder;
    text-align: right;
    line-height: 32px;
    padding-right: 4px;
    padding-top: 2px;
}

.transaction-date-month {
    margin-bottom: 0;
}

.transaction-date-year {
    margin-bottom: 0;
    font-size: 10px;
}

/* Col 3 - Account */

.transaction-account-header {
    width: 100px;
}

.transaction-account-img {
    width: 100%;
    height: 40px;
}

/* Col 4 - Category */

.transaction-category-header {
    width: 15%;
    text-align: center;
}

.col-category {
    padding: 4px 0 0 0;
}

.transaction-category-col-row {
    height: 40px;
    margin: 0;
}

.transaction-category-col-text {
    text-align: right;
    padding-left: 0;
    padding-right: 4px;
    padding-bottom: 4px;
    margin: auto;
}

.transaction-category-col-img {
    height: 35px;
    padding: 0;
}

/* Col 5 - Description */

.transaction-text-header {
}

.transaction-text-total-col {
    height: 40px;
    border-top: 0;
    padding: 0;
}

.transaction-text-sub-col {
    height: 40px;
    border-top: 0;
}

.transaction-text-col-row {
    height: 40px;
    padding-left: 12px;
}

.transaction-text-col-text {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 4px;
}

.transaction-text-total-col-text {
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 4px;
    font-weight: bold;
    text-align: right;
}

/* Col 6 - Amount */

.transaction-amount-col {
    height: 40px;
}

.transaction-amount-header {
    text-align: center;
    width: 10%;
}

.transaction-amount-edit-col {
    padding-right: 16px;
    text-align: right;
    width: 100%;
}

.transaction-amount-noedit-col {
    padding-right: 16px;
    padding-bottom: 4px;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    text-align: right;
    color: #000000;
    font-weight: bolder;
}

.transaction-amount-noedit-db-col {
    padding-right: 16px;
    padding-bottom: 4px;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    text-align: right;
    color: #cc0000;
    font-weight: bolder;
}

/* Col 7 - Confirm */

.transaction-confirm-btn-header {
    width: 40px;
}

.btn-tran-confirm {
}

/* Col 8 - Edit */

.transaction-edit-btn-header {
    width: 40px;
}

.btn-tran-edit {
}

/* Col 9 - Delete */

.transaction-delete-btn-header {
    width: 40px;
}

.btn-tran-delete {
}

/* Format for the totals section */

.totals-table {
    width: 100%;
}

.totals-row {
    line-height: 10px;
}

.totals-title-col {
    font-weight: bolder;
}

.totals-value-coll {
    text-align: right;
}

.totals-cell {
    margin: 10px 0 0 0;
}

.totals-col {
    padding-right: 0;
}

/* ---------------------------------------------------------- */

/* Transaction table */

.trn-table {
}

/* Header */

.trn-thead {
}

.trn-header-row {

}

.trn-header {

}

.trn-date-header {
    width: 7%;
}

.trn-account-header {
    width: 100px;
}

.trn-category-header {
    width: 15%;
}

.trn-description-header {

}

.trn-amount-header {
    width: 10%;
}

.trn-btn-header {
    width: 40px;
}

.trn-confirm-btn-header {

}

.trn-edit-btn-header {

}

.trn-delete-btn-header {

}

.trn-tbody {

}

.trn-row {
    border-top: 0;
    border-bottom: 1px solid #dee2e6;
}

.trn-total-row {
    border-bottom: 0;
}

.trn-col {
    border-top: 0;
    border-bottom: 1px solid #dee2e6;
    padding: 2px;
    vertical-align: middle;
}

.trn-date-day-col {

}

.trn-date-day-col-total {
    border-bottom: 0;
}

.trn-date-day {
    font-size: 32px;
    font-weight: bolder;
    text-align: right;
    line-height: 32px;
    padding-right: 4px;
    padding-top: 2px;
}

.trn-date-month-col {

}

.trn-date-month-col-total {
    border-bottom: 0;
}

.trn-date-month {

}

.trn-date-year {
    font-size: 10px;
}

.trn-account-col {

}

.trn-account-col-total {
    border-bottom: 0;
}

.trn-account {
}

.trn-account-img {
    width: 100%;
    height: 40px;
}

.trn-category-col {

}

.trn-category-col-total {
    border-bottom: 0;
}

.trn-category {

}

.trn-category-txt {
    text-align: right;
    line-height: 25px;
    padding-left: 0;
    padding-right: 2px;
    margin: auto;
}

.trn-category-img {
    height: 25px;
    padding: 0;
}

.trn-description-col {

}

.trn-description-col-total {
    border-bottom: 0;
}

.trn-description {

}

.trn-description-text {

}

.trn-description-total-text {
    font-weight: bold;
    text-align: right;
}

.trn-amount-col {

}

.trn-amount-col-total {
    border-bottom: 0;
}

.trn-amount {

}

.trn-amount-edit {
    padding-right: 16px;
    text-align: right;
    width: 100%;
}

.trn-amount-cr {
    padding-right: 16px;
    padding-bottom: 4px;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    text-align: right;
    color: #000000;
    font-weight: bolder;
}

.trn-amount-db {
    padding-right: 16px;
    padding-bottom: 4px;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    text-align: right;
    color: #cc0000;
    font-weight: bolder;
}

.trn-button-col {

}

.trn-button-col-total {
    border-bottom: 0;
}

.trn-button {

}

.trn-button-confirm {

}

.trn-button-edit {

}

.trn-button-delete {

}

.trn-button-lock {

}
