<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-3" *ngIf="types && types.length">
                <div class="btn-group" *ngFor="let type of types">
                    <label class="btn btn-primary btn-type"
                           btnRadio="{{type.id}}"
                           [(ngModel)]="radioType"
                           tabindex="0"
                           tooltip="{{type.name}}">
                        <i class="fa {{type.icon}}"></i>
                    </label>
                </div>
            </div>
            <div class="col-3" *ngIf="accounts && accounts.length">
                <div class="btn-group" *ngFor="let account of accounts; let i = index">
                    <label class="btn btn-primary btn-account"
                           [style.background-color]="getAccountColour(i)"
                           [(ngModel)]="radioAccount"
                           btnRadio="{{account.id}}"
                           tabindex="0"
                           (click)="onAccountClick(account)">
                        <img class="btn-account-img" src="{{getImage(account)}}" alt="Account"/>
                    </label>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-8">
                        <div class="row">
                            <label for="from-date"></label>
                            <input id="from-date"
                                   type="text"
                                   placeholder="Datepicker"
                                   class="form-control filter-datepicker"
                                   [bsValue]="fromValue"
                                   (bsValueChange)="onDateChangeFrom($event)"
                                   [isDisabled]="fromDateDisabled"
                                   value="{{ fromValue | date:'dd-MMMM-yyyy'}}"
                                   bsDatepicker [bsConfig]="{
                                            dateInputFormat: 'DD-MMMM-YYYY',
                                            containerClass: 'theme-dark-blue',
                                            selectFromOtherMonth: true }"/>
                        </div>
                    </div>
                    <div class="col-1">
                        <button type="button"
                                class="btn btn-primary btn-date"
                                [disabled]="toDateButtonDisabled"
                                (click)="onDateButton('MTD')">
                            MTD
                        </button>
                    </div>
                    <div class="col-1">
                        <button type="button"
                                class="btn btn-primary btn-date"
                                [disabled]="dateButtonsDisabled"
                                (click)="onDateButton('M-1')">
                            M-1
                        </button>
                    </div>
                    <div class="col-1">
                        <button type="button"
                                class="btn btn-primary btn-date"
                                [disabled]="dateButtonsDisabled"
                                (click)="onDateButton('M+1')">
                            M+1
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="row">
                        <label for="to-date"></label>
                        <input id="to-date"
                               type="text"
                               placeholder="Datepicker"
                               class="form-control filter-datepicker"
                               [bsValue]="toValue"
                               (bsValueChange)="onDateChangeTo($event)"
                               [isDisabled]="toDateDisabled"
                               value="{{ toValue | date:'dd-MMMM-yyyy'}}"
                               bsDatepicker [bsConfig]="{
                                        dateInputFormat: 'DD-MMMM-YYYY',
                                        containerClass: 'theme-dark-blue',
                                        selectFromOtherMonth: true }"/>
                        </div>
                    </div>
                    <div class="col-1">
                        <button type="button"
                                class="btn btn-primary btn-date"
                                [disabled]="toDateButtonDisabled"
                                (click)="onDateButton('YTD')">
                            YTD
                        </button>
                    </div>
                    <div class="col-1">
                        <button type="button"
                                class="btn btn-primary btn-date"
                                [disabled]="dateButtonsDisabled"
                                (click)="onDateButton('Y-1')">
                            Y-1
                        </button>
                    </div>
                    <div class="col-1">
                        <button type="button"
                                class="btn btn-primary btn-date"
                                [disabled]="dateButtonsDisabled"
                                (click)="onDateButton('Y+1')">
                            Y+1
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="categories && categories.length">
            <div class="col col-category" *ngFor="let nextCategory of filteredCatgories; let i = index">
                <label [ngClass]="nextCategory.selected ? 'btn btn-primary btn-category' : 'btn btn-primary btn-category-off'"
                       [style.background-color]="getCategoryColour(i)"
                       [style.border-color]="nextCategory.selected ? '#005cbf' : '#9f9f9f'"
                       btnRadio="{{nextCategory.id}}"
                       tabindex="0"
                       (click)="onCategoryClick(nextCategory)"
                       tooltip="{{nextCategory.name}}">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table trn-table" *ngIf="transactions && transactions.length">
                    <thead class="trn-thead">
                        <tr class="trn-header-row">
                            <th colspan="2" class="trn-header trn-date-header">Date</th>
                            <th class="trn-header trn-account-header">Account</th>
                            <th class="trn-header trn-category-header">Category</th>
                            <th class="trn-header trn-description-header">Description</th>
                            <th class="trn-header trn-amount-header">Amount</th>
                            <th class="trn-header trn-btn-header trn-confirm-btn-header"></th>
                            <th class="trn-header trn-btn-header trn-edit-btn-header"></th>
                            <th class="trn-header trn-btn-header trn-delete-btn-header"></th>
                        </tr>
                    </thead>
                    <tbody class="trn-tbody">
                        <tr *ngFor="let nextTransaction of transactions"
                            [ngClass]="{'trn-row':  true,
                                        'trn-total-row':  nextTransaction.isTotalLine === true}">
                            <td [ngClass]="{'trn-col':  true,
                                            'trn-date-day-col': true,
                                            'trn-date-day-col-total':  nextTransaction.isTransactionLine === false}">
                                <div *ngIf="nextTransaction.hasDate" class="trn-date-day">
                                    {{nextTransaction.dateDay}}
                                </div>
                            </td>
                            <td [ngClass]="{'trn-col':  true,
                                            'trn-date-month-col': true,
                                            'trn-date-month-col-total': nextTransaction.isTransactionLine === false}">
                                <div *ngIf="nextTransaction.hasDate" class="trn-date-month">
                                    {{nextTransaction.dateMonth}}
                                </div>
                                <div *ngIf="nextTransaction.hasDate" class="trn-date-year">
                                    {{nextTransaction.dateYear}}
                                </div>
                            </td>
                            <td [ngClass]="{'trn-col':  true,
                                            'trn-account-col': true,
                                            'trn-account-col-total': nextTransaction.isTransactionLine === false}">
                                <div *ngIf="nextTransaction.hasAccount" class="trn-account">
                                    <img class="trn-account-img" src="{{getAccountImage(nextTransaction.account)}}" alt="Account"/>
                                </div>
                            </td>
                            <td [ngClass]="{'trn-col':  true,
                                            'trn-category-col': true,
                                            'trn-category-col-total': nextTransaction.isTransactionLine === false}">
                                <div *ngIf="nextTransaction.hasCategory" class="row trn-category">
                                    <div class="col-7 trn-category-txt">
                                        {{nextTransaction.category}}
                                    </div>
                                    <div class="col-2 trn-category-img"
                                         [innerHTML]="getCategoryImage(nextTransaction)">
                                    </div>
                                    <div class="col-2">
                                        &nbsp;
                                    </div>
                                </div>
                            </td>
                            <td [ngClass]="{'trn-col':  true,
                                            'trn-description-col': true,
                                            'trn-description-col-total': nextTransaction.isTransactionLine === false}">
                                <div class="trn-description">
                                    <div *ngIf="nextTransaction.isTransactionLine" class="trn-description-text">
                                        {{nextTransaction.description}}
                                    </div>
                                    <div *ngIf="nextTransaction.isBoughtForward" class="trn-description-total-text">
                                        Brought Forward
                                    </div>
                                    <div *ngIf="nextTransaction.isTotalDebits" class="trn-description-total-text">
                                        Total Debits
                                    </div>
                                    <div *ngIf="nextTransaction.isTotalCredits" class="trn-description-total-text">
                                        Total Credits
                                    </div>
                                    <div *ngIf="nextTransaction.isCarriedFoward" class="trn-description-total-text">
                                        Carried Forward
                                    </div>
                                </div>
                            </td>
                            <td [ngClass]="{'trn-col':  true,
                                            'trn-amount-col': true,
                                            'trn-amount-col-total': nextTransaction.isTransactionLine === false}">
                                <div class="trn-amount">
                                    <input id="transaction-amount"
                                           type="text" *ngIf="nextTransaction.editable"
                                           [(ngModel)]="nextTransaction.amountString"
                                           [disabled]="!nextTransaction.editable"
                                           (keyup.enter)="onEnter(nextTransaction)"
                                           class="trn-amount-edit">
                                    <div *ngIf="!nextTransaction.editable && nextTransaction.myAmount < 0"
                                         class="trn-amount-db">{{nextTransaction.myDisplayAmount}}</div>
                                    <div *ngIf="!nextTransaction.editable && nextTransaction.myAmount >= 0"
                                         class="trn-amount-cr">{{nextTransaction.myDisplayAmount}}</div>
                                </div>
                            </td>
                            <td [ngClass]="{'trn-col':  true,
                                            'trn-button-col': true,
                                            'trn-button-col-total': nextTransaction.isTransactionLine === false}">
                                <div class="trn-button">
                                    <button *ngIf="nextTransaction.isTransactionLine" type="button"
                                            class="btn btn-primary trn-button-confirm"
                                            (click)="confirmTransaction(nextTransaction)"
                                            [disabled]="nextTransaction.locked">
                                        <i [ngClass]="nextTransaction.locked ? 'fa fa-lock' : nextTransaction.reconciled ? 'fa fa-times' : 'fa fa-check'"></i>
                                    </button>
                                </div>
                            </td>
                            <td [ngClass]="{'trn-col':  true,
                                                'trn-button-col': true,
                                                'trn-button-col-total': nextTransaction.isTransactionLine === false}">
                                <div class="trn-button">
                                    <button *ngIf="nextTransaction.isTransactionLine" type="button"
                                            class="btn btn-primary trn-button-edit"
                                            (click)="clickEditable(nextTransaction)"
                                            [disabled]="nextTransaction.locked || nextTransaction.reconciled">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                </div>
                            </td>
                            <td [ngClass]="{'trn-col':  true,
                                                'trn-button-col': true,
                                                'trn-button-col-total': nextTransaction.isTransactionLine === false}">
                                <div class="trn-button">
                                    <button *ngIf="nextTransaction.isTransactionLine" type="button"
                                            class="btn btn-primary trn-button-delete"
                                            (click)="deleteTransaction(nextTransaction)"
                                            [disabled]="nextTransaction.locked || nextTransaction.reconciled">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                    <button *ngIf="nextTransaction.isCarriedFoward" type="button"
                                            class="btn btn-primary trn-button-lock"
                                            (click)="onClickLockStatement()"
                                            [disabled]="!nextTransaction.summary.canLock || selectedStatement.locked">
                                        <i [ngClass]="nextTransaction.summary.canLock && selectedStatement.locked ? 'fa fa-lock' : 'fa fa-unlock'"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
