<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table" *ngIf="regularPayments && regularPayments.length">
                        <thead>
                        <tr>
                            <th>Last</th>
                            <th>Account</th>
                            <th>Amount</th>
                            <th>Frequency</th>
                            <th>Weekend</th>
                            <th>Category</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let nextPayment of regularPayments">
                            <td class="col-5">{{nextPayment.lastDate}}</td>
                            <td class="col-1">{{nextPayment.account.id}}</td>
                            <td class="col-1">{{nextPayment.amount}}</td>
                            <td class="col-1">{{nextPayment.frequency}}</td>
                            <td class="col-1">{{nextPayment.weekendAdj}}</td>
                            <td class="col-1">{{nextPayment.category.id}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
