<div class="card">
    <div class="card-body">
        <jbr-money-toolbar [status]="status" [version]="version" [hasChanges]="hasChanges" (filterClick)="showFilter=true" (addClick)="showAdd=true" (transferClick)="showTransfer=true" (saveClick)="onSave()"></jbr-money-toolbar>
        <div class="grid-scroll">
            <jbr-grid-transaction style="width: 100%" [filter]="filter" (statusChange)="status = $event" (versionChange)="version = $event" (hasChanges)="hasChanges=$event"></jbr-grid-transaction>
        </div>
    </div>
</div>

<jbr-money-filter *ngIf="showFilter" [filter]="filter" (filterApplied)="onFilterApplied($event)" (filterClosed)="showFilter=false"></jbr-money-filter>
<jbr-money-add *ngIf="showAdd" (addClosed)="showAdd=false" (transactionAdded)="onTransactionAdded()"></jbr-money-add>
<jbr-money-transfer *ngIf="showTransfer" (transferClosed)="showTransfer=false" (transactionAdded)="onTransactionAdded()"></jbr-money-transfer>
