/* Button used to select the type of transaction listed. */

.btn-mode {
    margin: 0 3px;
}

.btn-type-row {
    width: 100%;
    height: 100%;
    margin: 0;
}

.btn-type-col {
    padding: 0 3px;
    align-items: center;

}

.btn-type {
    margin: 0;
    height: 44px;
}

/* Button used to select the accounts. */

.btn-account-row {
    width: 100%;
    height: 100%;
    margin: 0;
}

.btn-account-col {
    padding: 0 3px;
    align-items: center;
}

.btn-account {
    width: 44px;
    height: 44px;
    margin: 0;
    padding: 3px;
}

.btn-account-img {
    width: 100%;
    height: 100%;
}

/* Button used select a date and the picker. */

.btn-date {
    font-size: small;
    width: 100%;
    height: 100%;
}

.filter-datepicker {
    font-size: medium;
    padding: 0 0 0 2px;
    margin-bottom: 2px;
}

.date-select-row {
    margin: 0;
}

.date-select-col {
    padding: 0;
}

.date-select-col-btn {
    padding: 0 2px 1px 3px;
}

/* category selectors */

.btn-category {
    width: 20px;
    height: 20px;
    padding: 0;
}

.btn-category-off {
    width: 20px;
    height: 20px;
    padding: 0;
    border-width: 10px;
}

/* Transaction table */

.trn-table {
}

/* Header */

.trn-thead {
}

.trn-header-row {

}

.trn-header {

}

.trn-date-header {
    width: 7%;
}

.trn-account-header {
    width: 100px;
}

.trn-category-header {
    width: 15%;
}

.trn-description-header {

}

.trn-amount-header {
    width: 10%;
}

.trn-btn-header {
    width: 40px;
}

.trn-confirm-btn-header {

}

.trn-edit-btn-header {

}

.trn-delete-btn-header {

}

.trn-tbody {

}

.trn-row {
    border-bottom: 0;
    border-top: 1px solid #dee2e6;
}

.trn-total-row {
    border-top: 0;
}

.trn-col {
    border-bottom: 0;
    border-top: 1px solid #dee2e6;
    padding: 2px;
    vertical-align: middle;
}

.trn-date-day-col {

}

.trn-date-day-col-total {
    border-top: 0;
}

.trn-date-day {
    font-size: 32px;
    font-weight: bolder;
    text-align: right;
    line-height: 32px;
    padding-right: 4px;
    padding-top: 2px;
}

.trn-date-month-col {

}

.trn-date-month-col-total {
    border-top: 0;
}

.trn-date-month {

}

.trn-date-year {
    font-size: 10px;
}

.trn-account-col {

}

.trn-account-col-total {
    border-top: 0;
}

.trn-account {
}

.trn-account-img {
    width: 100%;
    height: 40px;
}

.trn-category-col {

}

.trn-category-col-total {
    border-top: 0;
}

.trn-category {

}

.trn-category-txt {
    text-align: right;
    line-height: 25px;
    padding-left: 0;
    padding-right: 2px;
    margin: auto;
    font-size: small;
}

.trn-category-img {
    height: 25px;
    padding: 0;
}

.trn-description-col {

}

.trn-description-col-total {
    border-top: 0;
}

.trn-description {

}

.trn-description-text {

}

.trn-description-total-text {
    font-weight: bold;
    text-align: right;
}

.trn-amount-col {

}

.trn-amount-col-total {
    border-top: 0;
}

.trn-amount {

}

.trn-amount-edit {
    padding-right: 16px;
    text-align: right;
    width: 100%;
}

.trn-amount-cr {
    padding-right: 16px;
    padding-bottom: 4px;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    text-align: right;
    color: #000000;
    font-weight: bolder;
}

.trn-amount-db {
    padding-right: 16px;
    padding-bottom: 4px;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    text-align: right;
    color: #cc0000;
    font-weight: bolder;
}

.trn-button-col {

}

.trn-button-col-total {
    border-top: 0;
}

.trn-button {

}

.trn-button-1 {
    width: 100%;
    height: 100%;
}

.trn-button-2 {
    width: 100%;
    height: 100%;
}

.trn-button-3 {
    width: 100%;
    height: 100%;
}


.status-text-success {
    background:url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQYV2MUOl72/51lFyOMZmRgYGBAFoTL4FQBANPXHKFm5MXbAAAAAElFTkSuQmCC
    ) repeat;
}

.status-text-error {
    background:url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKElEQVQYV2N85iP3X2rLI8YPYlb/BV4dY2RkYGBggHFANFwGphJDBQDSyxyDWYe4AwAAAABJRU5ErkJggg==
    ) repeat;
}

.status-date-month {
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.status-date-card {
    margin-bottom: 0;
}

.status-date-card-body {
    padding: 2px;
    height: 98px;
}

.status-date-day {
    font-weight: bold;
    color: #cc0000;
    font-size: 50px;
    line-height: 45px;
    text-align: center;
    margin: 0;
}

.status-date-year {
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.status-account {
    width: 100%;
    height: 100%;
}

.status-xfer-overlay {
    position: absolute;
    top: 0;
    left: 0;
}

.status-amount {
    height:96%;
    width:96%;
    font-weight: bold;
    font-size: 56px;
    text-align: center;
}

.btn-account-select {
    width: 98%;
    height: 85%;
    padding-bottom: 8px;
}

.btn-summary {
    font-size: 30px;
    width: 100%;
    height: 80%;
    margin-bottom: 16px;
}

.btn-account-img-select {
    width: 40px;
    height: 40px;
}

.btn-account-trf-img {
    width: 20px;
    height: 20px;
}

::ng-deep.bs-datepicker {
    box-shadow: none;
    margin-bottom: 10px;
    width: 100%;
}

.cat-filter {
    height: 100%;
}
