<div class="card">
    <div class="card-body">
        <div class="row">
            <label class="btn-sm btn-primary float-right"
                   tabindex="0"
                   (click)="isCollapsed = !isCollapsed"
                   [attr.aria-expanded]="!isCollapsed"
                   aria-controls="collapseBasic">
                <i class="fa fa-plus-circle"></i>
            </label>
        </div>
        <div class="row" [collapse]="isCollapsed">
            <div class="col-12">
                <div class="row">
                    <div class="col">
                        <div class="{{statusClass}}">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2">
                                        <div class="card status-date-card mb-3">
                                            <div class="card-body status-date-card-body" (click)="openModal(templateDate,'date-entry-modal-popup')">
                                                <p class="status-date-month">{{statusMonth}}</p>
                                                <p class="status-date-day">{{statusDay}}</p>
                                                <p class="status-date-year">{{statusYear}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="card status-date-card mb-3" (click)="openModal(templateAccount,'')">
                                            <div class="card-body status-date-card-body" [style.background-color]="getSelectedAcountColour()">
                                                <img *ngIf="selectedAccount != null" class="status-account" src="{{getAccountImage(selectedAccount.id)}}" alt="Selected Account">
                                                <img *ngIf="selectedAccount == null" class="status-account" src="assets/images/money/noaccount.svg" alt="Selected Account">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="card status-date-card mb-3" (click)="openModal(templateCategory,'')">
                                            <div class="card-body status-date-card-body">
                                                <img *ngIf="selectedXferAcc != null" class="status-account" src="{{getAccountImage(selectedXferAcc.id)}}" alt="Selected Category">
                                                <svg *ngIf="selectedXferAcc != null" class="status-xfer-overlay">
                                                    <circle cx="12" cy="12" r="8" style="stroke:#006600; fill:#FFFFFF"></circle>
                                                </svg>
                                                <svg *ngIf="selectedXferAcc == null"
                                                     class   = "status-account"
                                                     width   = "100%"
                                                     height  = "100%"
                                                     viewBox = "0 0 120 120"
                                                     xmlns   = "http://www.w3.org/2000/svg">
                                                    <circle cx='60' cy='52' r='44' [style.fill]="getSelectedCategoryColour()" style="stroke:#006600"></circle>";
                                                    <text x='60' y='112' text-anchor='middle' font-weight='bolder'>{{getSelectedCategoryText()}}</text>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="card status-date-card mb-3" (click)="openModal(templateCalculator,'')">
                                            <div class="card-body status-date-card-body">
                                                <p *ngIf="transactionAmount != 0" class="status-amount">
                                                    {{transactionAmtDisplay}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-11">
                                        <input/>
                                    </div>
                                    <div class="coll-1" *ngIf="transactionValid == true">
                                        <label class="btn btn-primary float-right"
                                               style="background-color: #008800;"
                                               tabindex="0"
                                               (click)="onClickCreate()">
                                            <i class="fa fa-check-circle"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3" *ngIf="types && types.length">
                <div class="btn-group" *ngFor="let type of types">
                    <label class="btn btn-primary btn-type"
                           btnRadio="{{type.id}}"
                           [(ngModel)]="radioType"
                           tabindex="0"
                           tooltip="{{type.name}}">
                        <i class="fa {{type.icon}}"></i>
                    </label>
                </div>
            </div>
            <div class="col-3" *ngIf="accounts && accounts.length">
                <div class="btn-group" *ngFor="let account of accounts; let i = index">
                    <label class="btn btn-primary btn-account"
                           [style.background-color]="getAccountColour(i)"
                           [(ngModel)]="radioAccount"
                           btnRadio="{{account.id}}"
                           tabindex="0"
                           (click)="onAccountClick(account)">
                        <img class="btn-account-img" src="{{getImage(account)}}" alt="Account"/>
                    </label>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-8">
                        <div class="row">
                            <label for="from-date"></label>
                            <input id="from-date"
                                   type="text"
                                   placeholder="Datepicker"
                                   class="form-control filter-datepicker"
                                   [bsValue]="fromValue"
                                   (bsValueChange)="onDateChangeFrom($event)"
                                   [isDisabled]="fromDateDisabled"
                                   value="{{ fromValue | date:'dd-MMMM-yyyy'}}"
                                   bsDatepicker [bsConfig]="{
                                            dateInputFormat: 'DD-MMMM-YYYY',
                                            containerClass: 'theme-dark-blue',
                                            selectFromOtherMonth: true }"/>
                        </div>
                    </div>
                    <div class="col-1">
                        <button type="button"
                                class="btn btn-primary btn-date"
                                [disabled]="toDateButtonDisabled"
                                (click)="onDateButton('MTD')">
                            MTD
                        </button>
                    </div>
                    <div class="col-1">
                        <button type="button"
                                class="btn btn-primary btn-date"
                                [disabled]="dateButtonsDisabled"
                                (click)="onDateButton('M-1')">
                            M-1
                        </button>
                    </div>
                    <div class="col-1">
                        <button type="button"
                                class="btn btn-primary btn-date"
                                [disabled]="dateButtonsDisabled"
                                (click)="onDateButton('M+1')">
                            M+1
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="row">
                        <label for="to-date"></label>
                        <input id="to-date"
                               type="text"
                               placeholder="Datepicker"
                               class="form-control filter-datepicker"
                               [bsValue]="toValue"
                               (bsValueChange)="onDateChangeTo($event)"
                               [isDisabled]="toDateDisabled"
                               value="{{ toValue | date:'dd-MMMM-yyyy'}}"
                               bsDatepicker [bsConfig]="{
                                        dateInputFormat: 'DD-MMMM-YYYY',
                                        containerClass: 'theme-dark-blue',
                                        selectFromOtherMonth: true }"/>
                        </div>
                    </div>
                    <div class="col-1">
                        <button type="button"
                                class="btn btn-primary btn-date"
                                [disabled]="toDateButtonDisabled"
                                (click)="onDateButton('YTD')">
                            YTD
                        </button>
                    </div>
                    <div class="col-1">
                        <button type="button"
                                class="btn btn-primary btn-date"
                                [disabled]="dateButtonsDisabled"
                                (click)="onDateButton('Y-1')">
                            Y-1
                        </button>
                    </div>
                    <div class="col-1">
                        <button type="button"
                                class="btn btn-primary btn-date"
                                [disabled]="dateButtonsDisabled"
                                (click)="onDateButton('Y+1')">
                            Y+1
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="categories && categories.length">
            <div class="col col-category" *ngFor="let nextCategory of filteredCatgories; let i = index">
                <label [ngClass]="nextCategory.selected ? 'btn btn-primary btn-category' : 'btn btn-primary btn-category-off'"
                       [style.background-color]="getCategoryColour(i)"
                       [style.border-color]="nextCategory.selected ? '#005cbf' : '#9f9f9f'"
                       btnRadio="{{nextCategory.id}}"
                       tabindex="0"
                       (click)="onCategoryClick(nextCategory)"
                       tooltip="{{nextCategory.name}}">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table trn-table" *ngIf="transactions && transactions.length">
                    <thead class="trn-thead">
                        <tr class="trn-header-row">
                            <th colspan="2" class="trn-header trn-date-header">Date</th>
                            <th class="trn-header trn-account-header">Account</th>
                            <th class="trn-header trn-category-header">Category</th>
                            <th class="trn-header trn-description-header">Description</th>
                            <th class="trn-header trn-amount-header">Amount</th>
                            <th class="trn-header trn-btn-header trn-confirm-btn-header"></th>
                            <th class="trn-header trn-btn-header trn-edit-btn-header"></th>
                            <th class="trn-header trn-btn-header trn-delete-btn-header"></th>
                        </tr>
                    </thead>
                    <tbody class="trn-tbody">
                        <tr *ngFor="let nextTransaction of transactions"
                            [ngClass]="{'trn-row':  true,
                                        'trn-total-row':  nextTransaction.isTotalLine === true}">
                            <td [ngClass]="{'trn-col':  true,
                                            'trn-date-day-col': true,
                                            'trn-date-day-col-total':  nextTransaction.isTransactionLine === false}">
                                <div *ngIf="nextTransaction.hasDate" class="trn-date-day">
                                    {{nextTransaction.dateDay}}
                                </div>
                            </td>
                            <td [ngClass]="{'trn-col':  true,
                                            'trn-date-month-col': true,
                                            'trn-date-month-col-total': nextTransaction.isTransactionLine === false}">
                                <div *ngIf="nextTransaction.hasDate" class="trn-date-month">
                                    {{nextTransaction.dateMonth}}
                                </div>
                                <div *ngIf="nextTransaction.hasDate" class="trn-date-year">
                                    {{nextTransaction.dateYear}}
                                </div>
                            </td>
                            <td [ngClass]="{'trn-col':  true,
                                            'trn-account-col': true,
                                            'trn-account-col-total': nextTransaction.isTransactionLine === false}">
                                <div *ngIf="nextTransaction.hasAccount" class="trn-account">
                                    <img class="trn-account-img" src="{{getAccountImage(nextTransaction.account)}}" alt="Account"/>
                                </div>
                            </td>
                            <td [ngClass]="{'trn-col':  true,
                                            'trn-category-col': true,
                                            'trn-category-col-total': nextTransaction.isTransactionLine === false}">
                                <div *ngIf="nextTransaction.hasCategory" class="row trn-category">
                                    <div class="col-7 trn-category-txt">
                                        {{nextTransaction.category}}
                                    </div>
                                    <div class="col-2 trn-category-img"
                                         [innerHTML]="getCategoryImage(nextTransaction)">
                                    </div>
                                    <div class="col-2">
                                        &nbsp;
                                    </div>
                                </div>
                            </td>
                            <td [ngClass]="{'trn-col':  true,
                                            'trn-description-col': true,
                                            'trn-description-col-total': nextTransaction.isTransactionLine === false}">
                                <div class="trn-description">
                                    <div *ngIf="nextTransaction.isTransactionLine" class="trn-description-text">
                                        {{nextTransaction.description}}
                                    </div>
                                    <div *ngIf="nextTransaction.isBoughtForward" class="trn-description-total-text">
                                        Brought Forward
                                    </div>
                                    <div *ngIf="nextTransaction.isTotalDebits" class="trn-description-total-text">
                                        Total Debits
                                    </div>
                                    <div *ngIf="nextTransaction.isTotalCredits" class="trn-description-total-text">
                                        Total Credits
                                    </div>
                                    <div *ngIf="nextTransaction.isCarriedFoward" class="trn-description-total-text">
                                        Carried Forward
                                    </div>
                                </div>
                            </td>
                            <td [ngClass]="{'trn-col':  true,
                                            'trn-amount-col': true,
                                            'trn-amount-col-total': nextTransaction.isTransactionLine === false}">
                                <div class="trn-amount">
                                    <input id="transaction-amount"
                                           type="text" *ngIf="nextTransaction.editable"
                                           [(ngModel)]="nextTransaction.amountString"
                                           [disabled]="!nextTransaction.editable"
                                           (keyup.enter)="onEnter(nextTransaction)"
                                           class="trn-amount-edit">
                                    <div *ngIf="!nextTransaction.editable && nextTransaction.myAmount < 0"
                                         class="trn-amount-db">{{nextTransaction.myDisplayAmount}}</div>
                                    <div *ngIf="!nextTransaction.editable && nextTransaction.myAmount >= 0"
                                         class="trn-amount-cr">{{nextTransaction.myDisplayAmount}}</div>
                                </div>
                            </td>
                            <td [ngClass]="{'trn-col':  true,
                                            'trn-button-col': true,
                                            'trn-button-col-total': nextTransaction.isTransactionLine === false}">
                                <div class="trn-button">
                                    <button *ngIf="nextTransaction.isTransactionLine" type="button"
                                            class="btn btn-primary trn-button-confirm"
                                            (click)="confirmTransaction(nextTransaction)"
                                            [disabled]="nextTransaction.locked">
                                        <i [ngClass]="nextTransaction.locked ? 'fa fa-lock' : nextTransaction.reconciled ? 'fa fa-times' : 'fa fa-check'"></i>
                                    </button>
                                </div>
                            </td>
                            <td [ngClass]="{'trn-col':  true,
                                                'trn-button-col': true,
                                                'trn-button-col-total': nextTransaction.isTransactionLine === false}">
                                <div class="trn-button">
                                    <button *ngIf="nextTransaction.isTransactionLine" type="button"
                                            class="btn btn-primary trn-button-edit"
                                            (click)="clickEditable(nextTransaction)"
                                            [disabled]="nextTransaction.locked || nextTransaction.reconciled">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                </div>
                            </td>
                            <td [ngClass]="{'trn-col':  true,
                                                'trn-button-col': true,
                                                'trn-button-col-total': nextTransaction.isTransactionLine === false}">
                                <div class="trn-button">
                                    <button *ngIf="nextTransaction.isTransactionLine" type="button"
                                            class="btn btn-primary trn-button-delete"
                                            (click)="deleteTransaction(nextTransaction)"
                                            [disabled]="nextTransaction.locked || nextTransaction.reconciled">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                    <button *ngIf="nextTransaction.isCarriedFoward" type="button"
                                            class="btn btn-primary trn-button-lock"
                                            (click)="onClickLockStatement()"
                                            [disabled]="!nextTransaction.summary.canLock || selectedStatement.locked">
                                        <i [ngClass]="nextTransaction.summary.canLock && selectedStatement.locked ? 'fa fa-lock' : 'fa fa-unlock'"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #templateCategory>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Enter category</h4>
    </div>
    <div class="body">
        <money-category-picker
                [columns]="3"
                [showAccountTransfers]="true"
                [showSystem]="false"
                columnSpacing="5px"
                rowSpacing="3px"
                (valueSelected)="onCategorySelected($event)">
        </money-category-picker>
    </div>
</ng-template>

<ng-template #templateCalculator>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Enter value</h4>
    </div>
    <div class="body">
        <money-add-calc style="width:100%" (valueEntered)="onAmountEntered($event)"></money-add-calc>
    </div>
</ng-template>

<ng-template #templateAccount>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Select an account</h4>
    </div>
    <div class="body">
        <div class="col" *ngFor="let nextAccount of accounts; let i = index">
            <label class="btn btn-primary btn-account"
                   [style.background-color]="getAccountColour(i)"
                   [(ngModel)]="accountRadio"
                   btnRadio="{{nextAccount.id}}"
                   tabindex="0"
                   (click)="onClickAccount(nextAccount.id)">
                <img class="btn-account-img" src="{{getAccountImage(nextAccount.id)}}" alt="Account"/>
            </label>
        </div>
    </div>
</ng-template>

<ng-template #templateDate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Select a date</h4>
    </div>
    <div class="body">
        <!--        <input id="transaction-date"
                       type="text"
                       placeholder="Datepicker"
                       class="form-control calc-datepicker"
                       [bsValue]="bsValue"
                       (bsValueChange)="onDateChange($event)"
                       value="{{ bsValue | date:'dd-MMMM-yyyy'}}"
                       bsDatepicker [bsConfig]="{
                                        dateInputFormat: 'DD-MMMM-YYYY',
                                        containerClass: 'theme-dark-blue',
                                        selectFromOtherMonth: true }"/> -->
        <bs-datepicker-inline
                [bsValue]="bsValue"
                (bsValueChange)="onDateChange($event)"
                bsDatepicker [bsConfig]="{
                  dateInputFormat: 'DD-MMMM-YYYY',
                  containerClass: 'theme-dark-blue',
                  selectFromOtherMonth: true }"></bs-datepicker-inline>
    </div>
</ng-template>

