.md5 {
    font-family: courier new, serif;
    margin-left: 2px;
}

.size {
    text-align: right;
    margin-right: 2px;
}

.name {
    margin-left: 2px;
}

.date {
    margin-left: 2px;
}

.selected {
    width: 10px;
    height: 10px;
    border: 1px solid #888;
    border-radius: 50%;
    display: flex;
    background: #4caf50;
    padding: 0;
    margin-left: 5px;
}

.not-selected {
    width: 10px;
    height: 10px;
    border: 1px solid #555;
    border-radius: 50%;
    display: flex;
    flex-shrink: 1;
    background: #1a1a2e;
    padding: 0;
    margin-left: 5px;
}
