.summary-header {
    font-size: xx-large;
    font-weight: bolder;
    width: 100%;
    height: 100%;
    text-align: left;
    margin: 0 0 0 0;
}

.summary-date {
    font-size: small;
    width: 100%;
    height: 20%;
    text-align: left;
    margin: 0 0 6px 0;
    color: grey;
}
