@import "../../../standard/standard-table.css";

.files-table {
    margin: 6px 0 0 0;
    padding: 0;
    width: 100%;
}

.header-row {
    margin-bottom: 4px;
}

/*
 * first     -  8    Selector
 * nth  2    - 52    Name
 * nth  3    - 12    Date
 * nth  4    - 22    MD5
 * nth  5    -  6    Size
 */

table td:first-child  { width: 8%; }
table td:nth-child(2) { width: 52%; }
table td:nth-child(3) { width: 12%; }
table td:nth-child(4) { width: 22%; }
table td:nth-child(5) { width: 6%; }
