<div class="card">
    <div class="card-body row">
        <div class="col-1">
            <div *ngIf="isOK()" class="col-2 bup-sum-src-path-title-ok fa fa-check-circle"></div>
            <div *ngIf="!isOK()" class="col-2 bup-sum-src-path-title-notok fa fa-exclamation-circle"></div>
        </div>
        <div class="col-11">
            <div class="bup-sum-src-path-text card-text">{{title()}}: {{source.path}} ({{source.location.name}})</div>
            <div *ngIf="hasDestination()" class="row card-text">
                <div class="col-2 bup-sum-src-path-label">Destination:</div>
                <div class="col-9 bup-sum-src-path-text2">{{destination()}}</div>
            </div>
            <div *ngIf="hasFiles()" class="row card-text">
                <div class="col-2 bup-sum-src-path-label">Files:</div>
                <div class="col-9 bup-sum-src-path-text2">{{formattedFileCount()}}</div>
            </div>
            <div *ngIf="hasFiles()" class="row card-text">
                <div class="col-2 bup-sum-src-path-label">Largest File:</div>
                <div class="col-9 bup-sum-src-path-text2">{{largest()}}</div>
            </div>
            <div *ngIf="hasFilter()" class="row card-text">
                <div class="col-2 bup-sum-src-path-label">Filter:</div>
                <div class="col-9 bup-sum-src-path-text2">{{source.filter}}</div>
            </div>
        </div>
    </div>
</div>
