<div class="row base-money-row">
    <p>Here</p>
    <button class="btn btn-primary trn-button trn-button-to-right"
            (click)="onClickA()">
        <em class="fa fa-check"></em>
    </button>
    <div class="row">
        <div class="table-responsive" *ngIf="data && data.transactions.length">
            <div class="row">
                <jbr-grid-header-date></jbr-grid-header-date>
            </div>
            <div class="row" *ngFor="let next of data.transactions">
                <jbr-grid-data-date [transaction]="next"></jbr-grid-data-date>
            </div>
        </div>
    </div>
</div>
