@import "../../standard/standard-table.css";

th, td {
    font-size: 12px;
}

.backup {
    font-size: 12px;
}

.action-table {
    margin: 0;
    padding: 0;
    width: 100%;
}

.header-row {
    margin-bottom: 4px;
}

.media-view {
    padding-top: 10px;
    width: 100%;
    height: 100%;
}

/*
 * first     - 45    Name / Action
 * nth  2    - 40    Details
 * nth  3    - 15    Confirm
 */

table td:first-child  { width: 45%; }
table td:nth-child(2) { width: 40%; }
table td:nth-child(3) { width: 15%; }
