<ng-container *ngIf="!isMediaSelected()">
    <div class="row action-table">
        <table>
            <thead>
                <tr>
                    <th>
                        <jbr-action-header-name></jbr-action-header-name>
                    </th>
                    <th>
                        <jbr-action-header-media></jbr-action-header-media>
                    </th>
                    <th>
                        <jbr-action-header-confirm></jbr-action-header-confirm>
                    </th>
                </tr>
            </thead>
            <tbody *ngIf="actions && actions.length">
                <tr *ngFor="let action of actions">
                    <td>
                        <jbr-action-data-name [action]="action" (fileSelected)="selectMedia($event)"></jbr-action-data-name>
                    </td>
                    <td>
                        <jbr-action-data-media [action]="action" (fileSelected)="selectMedia($event)"></jbr-action-data-media>
                    </td>
                    <td>
                        <jbr-action-data-confirm [action]="action" (confirm)="confirm($event)"></jbr-action-data-confirm>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-container>
<ng-container *ngIf="isMediaSelected()">
    <button class="btn btn-primary btn-directory"
           (click)="backToActions()">
        <em class="fa fa-chevron-circle-left"></em>
    </button>
    <div class="media-view">
        <div *ngIf="isImageSelected()">
            <img ngSrc="backup/fileImage?id={{getSelectedFileId()}}" alt="backup file"/>
        </div>
        <div *ngIf="isVideoSelected()">
            <video src="backup/fileVideo?id={{getSelectedFileId()}}" controls>
                <track kind="captions" src="" label="Captions">
            </video>
        </div>
    </div>
</ng-container>
