<h4 class="modal-title pull-left">
    <div class="row row-no-margin-or-pad">
        <div class="col col-no-pad">
            <img src="{{imageUrl}}" alt="This is some text">
<!--            <img src="{{_moneyService.getAccountImage(transaction.account.id)}}" alt="Selected Account"> -->
        </div>
        <div class="col col-no-pad">
            <div class="row row-no-margin-or-pad title">{{title}}</div>
            <div class="row row-no-margin-or-pad sub-title">{{subTitle}}</div>
<!--            <div class="row statement">Statement</div> -->
<!--            <div class="row date">{{getDate() | date : 'MMMM yyyy'}}</div> -->
        </div>
    </div>
</h4>
