<!--<ng-container *ngComponentOutlet="ex"></ng-container>-->
<div class="row row-no-margin">
    <div class="col-2 col-left">
        <label *ngIf="!exit">&nbsp;</label>
        <label *ngIf="exit" class="btn btn-primary btn-bar" (click)="onExit()">Exit</label>
    </div>
    <div class="col-2 col-right">
        <label *ngIf="!clear">&nbsp;</label>
        <label *ngIf="clear" class="btn btn-primary btn-bar" (click)="onClear()">Clear</label>
    </div>
    <div class="col-6"></div>
    <div class="col-2 col-far-right">
        <label *ngIf="!ok">&nbsp;</label>
        <label *ngIf="ok" class="btn btn-primary btn-bar" (click)="onOK()">OK</label>
    </div>
</div>
