@import "../../standard/standard-table.css";

td {
    text-align: center;
}

.balances {
    width: 100%;
    margin: 0 0 6px 0;
}

.description {
    text-align: left;
}

.amount {
    text-align: right;
}

.debit {
    color: red;
}

.left-margin {
    margin-left: 4px;
}
