@import "../../standard/standard-popup.css";

td {
    font-family: Helvetica, serif;
    font-size: 10px;
    border: 1px solid #444;
    text-align: center;
}

th {
    font-family: Helvetica, serif;
    font-size: 10px;
    font-weight: bold;
    border: 1px solid #444;
    background: #1e1e38;
    color: #a0d4f5;
    text-align: center;
}

.balances {
    width: 100%;
    margin: 0 0 6px 0;
}

.description {
    text-align: left;
}

.amount {
    text-align: right;
}

.debit {
    color: red;
}

.left-margin {
    margin-left: 4px;
}
