.title {
    font-size: 40px;
}

.sub-title {
    font-size: 20px;
    color: darkgrey;
}

.row-no-margin-or-pad {
    margin: 0;
    padding: 0;
}

.col-no-pad {
    padding: 0;
}

.popup-body-row {
    margin: 6px;
}

.row-no-margin {
    margin: 6px 0 0 0;
    padding: 0;
}

.col-left {
    padding: 0 2px 0 0;
}

.col-right {
    padding: 0 0 0 2px;
}

.col-far-right {
    padding: 0 0 0 4px;
}

.btn-bar {
    width: 100%;
}
