.detail-col {
    padding-left: 30px;
}

.detail-full-name-row {
    margin: 0;
}

.detail-full-name {
    margin: 4px 0 0 0;
    font-size: 14px;
    font-weight: bold;
}

.detail-size-row {
    margin: 0;
}

.detail-size {
    margin: 0;
    font-size: 12px;
}

.detail-size-label {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
}

.detail-date-row {
    margin: 0;
}

.detail-date-label {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
}

.detail-date {
    margin: 0;
    font-size: 12px;
}

.detail-md5-row {
    margin: 0;
}

.detail-size-row {
    margin: 0;
}

.detail-md5-label {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
}

.detail-md5 {
    margin: 0;
    font-size: 12px;
}

.detail-size {
    margin: 0;
    font-size: 12px;
}

.detail-calendar-icon {
    width: 18px;
}

.detail-expiry-clear-icon {
    width: 18px;
    color: red;
}

.detail-expiry-row {
    margin: 4px 0 0 0;
    flex-wrap: nowrap;
}

.detail-expiry {
    margin: 0;
    font-size: 12px;
}

.expiry-datepicker {
    font-size: small;
    padding: 0 0 0 2px;
    margin-bottom: 2px;
    margin-left: 10px;
    width: 30%;
}

.no-padding-col {
    padding: 0;
}
