.detail-col {
    padding-left: 30px;
}

.detail-name-icon {
    font-size: 48px;
}

.detail-name {
    padding-left: 10px;
    font-size: 32px;
    font-weight: bolder;
}

.detail-full-name-row {
    margin: 0;
}

.detail-full-name {
    margin: 0;
    font-size: 12px;
}

.detail-size-row {
    margin: 0;
}

.detail-size {
    margin: 0;
    font-size: 12px;
}

.detail-date-row {
    margin: 0;
}

.detail-date {
    margin: 0;
    font-size: 12px;
}

.detail-md5-row {
    margin: 0;
}

.detail-md5 {
    margin: 0;
    font-size: 12px;
}

.detail-expiry-row {
    margin: 0;
}

.detail-expiry {
    margin: 0;
    font-size: 12px;
}
