<div class="card">
    <div class="card-body">
        <div class="row">
            <label class="btn btn-primary btn-mode col-1"
                   tabindex="0"
                   aria-controls="summary"
                   (click)="selectSummaryMode()"
                   [attr.aria-expanded]="isSummaryMode">
                <em class="fa fa-hdd-o"></em>
            </label>
            <label class="btn btn-primary btn-mode col-1"
                   tabindex="0"
                   aria-controls="files"
                   (click)="selectFileMode()"
                   [attr.aria-expanded]="isFileMode">
                <em class="fa fa-save"></em>
            </label>
            <label class="btn btn-primary btn-mode col-1"
                   tabindex="1"
                   aria-controls="actions"
                   (click)="selectActionMode()"
                   [attr.aria-expanded]="isActionMode">
                <em class="fa fa-exclamation-circle"></em>
            </label>
            <label class="btn btn-primary btn-mode col-1"
                   tabindex="1"
                   aria-controls="actions"
                   (click)="selectImportMode()"
                   [attr.aria-expanded]="isImportMode">
                <em class="fa fa-level-down"></em>
            </label>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div id ="summary" [collapse]="!isSummaryMode">
            <jbr-backup-summary></jbr-backup-summary>
        </div>
        <div id="files" [collapse]="!isFileMode">
            <jbr-backup-display></jbr-backup-display>
        </div>
        <div id="actions" [collapse]="!isActionMode">
            <jbr-backup-action></jbr-backup-action>
        </div>
        <div id="import" [collapse]="!isImportMode">
            <jbr-backup-import></jbr-backup-import>
        </div>
    </div>
</div>
