<p class="fa fa-check" *ngIf="transaction.fromReconciliation" (click)="selectFile(templateSelectFile)" (keydown.enter)="selectFile(templateSelectFile)"></p>
<p class="" *ngIf="!transaction.fromReconciliation" (click)="selectFile(templateSelectFile)" (keydown.enter)="selectFile(templateSelectFile)">&nbsp;</p>

<ng-template #templateSelectFile>
    <jbr-popup [title]="'Select a File'"
               [imageUrl]="'../../../../assets/images/money/default-popup.svg'"
               [content]="content" [inputs]="inputs"
               [exit]="true"
               [clear]="true"
               (exitEvent)="onExit()"
               (clearEvent)="onClearFile()">
    </jbr-popup>
</ng-template>
