<p (click)="onClick()" (keydown.enter)="onClick()" tabindex="0" *ngIf="!debit() && !isEditing() && !isBlank()">{{display() | currency : 'GBP' : true: '1.2-2'}}</p>
<p (click)="onClick()" (keydown.enter)="onClick()" tabindex="0" *ngIf="debit() && !isEditing() && !isBlank()" class="debit">{{display() | currency : 'GBP' : true: '1.2-2'}}</p>
<p (click)="onClick()" (keydown.enter)="onClick()" tabindex="0" *ngIf="isBlank() && !isEditing()">&nbsp;</p>
<input *ngIf="isEditing()" (keydown)="onKeydown($event)" style="width:100%" #input type="text"/>
