.file-table {
    margin: 0;
    padding: 0;
    width: 100%;
}

.header-row {
    margin-bottom: 4px;
}

th {
    font-family: Helvetica, serif;
    font-size: 10px;
    font-weight: bold;
    border: 1px solid #444;
    background: #1e1e38;
    color: #a0d4f5;
    text-align: center;
}

td {
    font-family: Helvetica, serif;
    font-size: 10px;
    border: 1px solid #444;
}

td.mis-match {
    background: #4a1a1a;
}

/*
 * first     -  2    Selector
 * nth  2    - 12    Name
 * nth  3    - 12    MD5
 * nth  4    -  4    Size
 * nth  5    -  7    Date
 * nth  6    - 12    Import Name
 * nth  7    - 12    Import MD5
 * nth  8    -  4    Import Size
 * nth  9    -  7    Import Date
 * nth 10    -  7    Status
 * nth 11    - 21    Destination
 */

table td:first-child {
    width: 2%;
}

table td:nth-child(2) {
    width: 12%;
}

table td:nth-child(3) {
    width: 12%;
}

table td:nth-child(4) {
    width: 4%;
}

table td:nth-child(5) {
    width: 7%;
}

table td:nth-child(6) {
    width: 12%;
}

table td:nth-child(7) {
    width: 12%;
}

table td:nth-child(8) {
    width: 4%;
}

table td:nth-child(9) {
    width: 7%;
}

table td:nth-child(10) {
    width: 7%;
}

table td:nth-child(11) {
    width: 21%;
}
